<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio</title>
</head>

<body>
    <header class="inicio">
        <img src="/img/Imagen1.png" alt="Logo">

        <nav class="search-container">
            <input type="text" id="searchInput" placeholder="Buscar...">
            <button onclick="buscar()">Buscar</button>
            <script src="/buscador.js"></script>
        </nav>

        <a href="/loginP.html">
            <img src="/img/campana.png" alt="Ícono de Notificación">
        </a>

        <a href="/loginP.html" alt="inicioses" class="inicioses">Iniciar sesión</a>
    </header>

    <main class="Publicaciones">
        <aside id="columna1">
            <div id="contenedor1">
                <ul>
                    <li>
                        <a href=""><img src="/img/usuarios-alt.svg" alt="Icono 1" href="/loginP.html">
                        <span>Siguiendo</span></a>
                    </li>
                    <li>
                      <a href=""><img src="/img/icons8-brújula-50.png" alt="Icono 2">
                        <span>Explorar</span></a> 
                    </li>
                    <li>
                        <a href=""><img src="/img/usuario.svg" alt="Icono 3">
                        <span>Perfil</span></a>
                    </li>
                </ul>
            </div>
            <div id="contenedorTend">
                <a href="https://ejemplo.com/tendencia1" target="_blank">
                    #DiseñoWeb</a>
                <a href="https://ejemplo.com/tendencia1" target="_blank">
                    #DiseñoWeb</a>
            </div>
        </aside>
<!-- es la segunda columna -->

        <div id="columna2">
            <div id="seguir">
                <ul>
                    <!-- Repite esta estructura según sea necesario -->
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ejemplo.com">
                            <img src="/img/usuario.svg" alt="foto">
                        </a>
                    </li>
                </ul>
            </div>
            <div id="publicacionImg">
                <img src="/img/Imagen2.png" alt="foto">
            </div>
            <div id="descripcion">
                <div id="foto-nombre">
                    <img src="/img/usuario.svg" alt="Foto de perfil" id="foto-circular">
                    <div id="info-usuario">
                        <div id="nombre-fecha">
                            <h2>Nombre de Usuario</h2>
                            <p>01/01/2023</p>
                        </div>
                        <button id="boton-seguir">Seguir</button>
                    </div>
                </div>
                <p id="descripcionT">
                    Esta es la descripción del perfil. Puedes escribir aquí más detalles sobre el usuario.
                </p>
            </div>
        </div>
        <div id="columna3">
            <div id="publicimg">
                <img src="/img/Imagen3.png" alt="publica1"></img>
            </div>
            <div id="publicdescrip">
                <p id="descrip">
                    Esta es la descripción del perfil. Puedes escribir aquí más detalles sobre el usuario.
                </p>
                <div class="fecha-likes">
                <p id="fecha">01/01/2023</p>
                <div id="corazoncon">
                    <button id="corazon-btn" class="corazon"></button>
                    <span id="contador">0</span>
                </div>
                </div>
            </div>
            <div id="publicimg">
                <img src="/img/Imagen4.png" alt="publica2"></img>
            </div>
            <div id="publicdescrip">
                <p id="descrip">
                    Esta es la descripción del perfil. Puedes escribir aquí más detalles sobre el usuario.
                </p>
                <div class="fecha-likes">
                <p id="fecha">01/01/2023</p>
                <div id="corazoncon">
                    <button id="corazon-btn" class="corazon"></button>
                    <span id="contador">0</span>
                </div>
                </div>
            </div>
        </div>

    </main>
   
</body>

</html>
=======
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETPOCKET</title>
    <!--cns boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PETPOCKET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <!--cdn boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
>>>>>>> 2bd59381ce6ebb41757501c761f4f28aed8f2389
