<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos/Petpocket</title>
    <link REL="stylesheet" type="TEXT/CSS" href="/PetPocket.V3/src/public/css/solicitud.css">

</head>
<body>
    
    <nav><img src="/PetPocket.V3/src/public/img/Conexion_img/Captura de pantalla 2024-01-31 112956.png" alt="">
        <!-- Formulario de búsqueda -->
    <form action="/buscar" method="get" align="center">
        <input type="text" name="q" placeholder="Buscar...">
        <input type="submit" value="Buscar">
    </form>

    </nav>
    <div class="cuadro">
        <font size="5">
            <div>
        <a title="personas" href="https://www.facebook.com/?locale=es_LA"><img src="/PetPocket.V3/src/public/img/Conexion_img/personas.jpg" width="100" height="100" class="Siguiendo" alt="" h1 align="center"><b>Siguiendo</b></h1></a>
          </div>
          <div>
        <a title="Explorar" href="https://www.instagram.com/"><img src="/PetPocket.V3/src/public/img/Conexion_img/brujula.jpg" width="100" height="100" class="Explorar" alt="" h1 align="center"><b>Explorar</b></h1></a>
        </div>
        <div>
        <a title="Perfil" href="https://www.tiktok.com/es/"><img src="/PetPocket.V3/src/public/img/Conexion_img/perfil.png" width="100" height="100" class="Perfil" alt="" h1 align="center"><b>Perfil</b></h1></a>
        </div>
        </div>  
        <div class="Tendencias">
            <font size="2">
        <a title="Tendencias" href="https://www.youtube.com/watch?v=SHbXK1M6I30"><h1>Tendencias</h1></a>
            <button>#Pastor Aleman</button>
            <button>#Pitbull</button>
            <button>#Golden Retriever</button>
            <button>#Chihuahua</button>
        </div>
        <div class="borde">
            <img class="img-1" src="/PetPocket.V3/src/public/img/Conexion_img/persona1.avif" width="70" height="70" alt="">
            <img class="img-2" src="/PetPocket.V3/src/public/img/Conexion_img/persona 2.webp" width="70" height="70" alt="">
            <img class="img-3" src="/PetPocket.V3/src/public/img/Conexion_img/persona 3.avif" width="70" height="70" alt="">
         </div>
         <div class="Amigos">
         <h1 class="Amigos" align="center">Amigos</h1>
         <button class="Solicitudes" align="center"><span>Solicitudes de Amistad</span></button>
         <a href="/PetPocket.V3/src/views/Pages/conexion y amistades/Seguir.hbs"><button class="Seguir" align="center"><span>Seguir Usuarios</span></button></a>
         <hr class="Separador" align="center">
        </div>
        <div align="center">
            <img class="per1" src="/PetPocket.V3/src/public/img/Conexion_img/Per 1.webp" width="200" height="200" alt="">
            <h1 class="nombre">PAULINA VARGAS</h1>
           <a href="javascript:Enviar()"> <button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
           <a href="javascript:Eliminar()"> <button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
            <img class="per2" src="/PetPocket.V3/src/public/img/Conexion_img/per 2.avif" width="200" height="200" alt="">
            <h1 class="nombre">JUAN MARTINEZ</h1>
           <a href="javascript:Enviar()"> <button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
           <a href="javascript:Eliminar()"> <button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
            <img class="per3" src="/PetPocket.V3/src/public/img/Conexion_img/per 3.jpg" width="200" height="200" alt="">
            <h1 class="nombre">CARMEN BONILLA</h1>
           <a href="javascript:Enviar()"> <button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
            <a href="javascript:Eliminar()"><button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
            <img class="per4" src="/PetPocket.V3/src/public/img/Conexion_img/per 4.webp" width="200" height="200" alt="">
            <h1 class="nombre">CHRISTIAN FALCONES</h1>
            <a href="javascript:Enviar()"><button class="Agregar" align="center"><span>Agregar a mis amigos</span></button></a>
            <a href="javascript:Eliminar()"><button class="Eliminar" align="center"><span>Eliminar Sugerencia</span></button></a>
        </div>
        <div class="Enviar" id="Ventana">
            <font style="color: black;">
           <h1> Solicitud de Amistad Enviada</h1>
        </div>
        <script>
            function Enviar(){
                document.getElementById("Ventana").style.display="block";
            }
        </script>
         <div class="Eliminar2" id="Ventana2">
            <font style="color: black;">
            <h1>Sugerencia Eliminada</h1>
        </div>
        <script>
            function Eliminar(){
                document.getElementById("Ventana2").style.display="block"
            }
        </script>
       
    
</body>
</html>